.footer {
    display:  flex;
    justify-content: center;
    color: aliceblue;
    height: 340px;
}

.container{
    width: 100%;
    background-color: #242424;
    padding: 2rem 20px 1rem 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.contact_card{
    display: flex;
    justify-content: center;
    width: 100%;
    
}

.content{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 20px;
    justify-items: center;
}
.table{
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.table h2{
    margin-bottom: 10px;
}
.table >*:not(:first-child){
    margin-top: 4px;
}
.copyright{
    width: 100%;
    height: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

@media screen and (max-width: 960px) {
    .table h2 {
      font-size: 1.4rem;
    }
    .table >*:not(:first-child){
        font-size: 1rem;
    }
  }
  
 