.header {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 50;
    background-color: #242424;
    color: aliceblue;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navbar{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    max-width: 1500px;

}

.nav_logo {
    
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.7rem;
    display: flex;
    align-items: center;
}
.nav_logo span{
    letter-spacing: 1.5px;
}

.navMenu{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 60vw;
    justify-content: end;
    margin-right: 1rem;
    font-size: 1.3rem;
}
.navMenu li {
    padding: 6px 10px;
    
}

.navMenu li:hover{
    outline: 1px solid rgb(240, 239, 239);
    border-radius: 6px;
    background-color: rgb(240, 239, 239);
    color: #242424;
}
