.header {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    z-index: 50;
}
.navbar{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    max-width: 1500px;

}

.nav_logo {
    
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.7rem;
    display: flex;
    align-items: center;
}

.navMenu{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 20px;
    list-style: none;
    text-align: center;
    width: 60vw;
    justify-content: end;
    margin-right: 2rem;
    font-size: 1.3rem;
}

.navMenu li:hover{
    border: 1px solid black;
}
